header {
    text-align: center;
    color: white;
    background-color: red;
}

.main-block {
    display: flex;
    .block {
        flex: 1;
    }
    .block-1 {
        div {
            label {
                font-size: 24px;
            }
        }
    }
    .block-2 {
        background-color: rgb(87, 87, 209);
        border-radius: 15px;
    }
}